<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author Information</title>
</head>
<body>
    <h1>Author Information</h1>
    <h2>Author Details:</h2>
    <p>Author ID: {{ author.authorID }}</p>
    <p>First Name: {{ author.firstName }}</p>
    <p>Last Name: {{ author.lastName }}</p>
    <p>Nationality: {{ author.nationality }}</p>

    <h2>Books Written by {{ author.firstName }} {{ author.lastName }}:</h2>
    <table border="1">
        <tr>
            <th>Book ID</th>
            <th>ISBN</th>
            <th>Title</th>
            <th>Price</th>
            <th>Publication Date</th>
            <th>Genre</th>
            <th>Publisher ID</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.bookID }}</td>
            <td>{{ book.ISBN }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.publication_date }}</td>
            <td>{{ book.genre }}</td>
            <td>{{ book.publisherID }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Display all the tables</h2>
    <!-- Link to display all tables -->
    <a href="/display_all_data">Display All Tables</a>
</body>
</html>
