<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>Welcome to the Index Page</h1>
    <a href="/display_all_data">Display All Tables</a>

    <h2>Display Author Information</h2>
    <form action="/display_author_info" method="get">
        <label for="author_id">Enter Author ID:</label>
        <input type="text" id="author_id" name="author_id">
        <input type="submit" value="Submit">
    </form>
    <body>
    <h1>Number of books and customers:</h1>
        <p>Number of customers: {{ num_customers }}</p>
        <p>Number of books: {{ num_books }}</p>
        <p>Number of orders: {{ num_orders }}</p>
    </body>

    <h2>Display Customer Information</h2>
    <form action="/search_customer" method="get">
        <label for="customer_id">Enter Customer ID:</label>
        <input type="text" id="customer_id" name="customer_id">
        <input type="submit" value="Submit">
    </form>
    <h2>Insert New Customer</h2>
    <form action="/insert_customer" method="POST">
        <label for="customer_id">Customer ID:</label>
        <input type="text" id="customer_id" name="customer_id" required><br>
        
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br>
        
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        
        <input type="submit" value="Submit">
    </form>

    <h2>View Orders Assigned to Staff</h2>
    <form action="/orders_assigned_to_staff" method="get">
        <label for="staff_id">Enter Staff ID:</label>
        <input type="text" id="staff_id" name="staff_id" required><br>
        <input type="submit" value="View Orders">
    </form>

    <h2>View Book Storage Information</h2>
    <form action="/book_storage" method="get">
        <label for="book_id">Enter Book ID:</label>
        <input type="text" id="book_id" name="book_id" required><br>
        <input type="submit" value="View Storage">
    </form>
    <h2>Delete Customer</h2>
    <form action="/delete_customer" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name"><br><br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name"><br><br>
        <input type="submit" value="Delete Customer">
    </form>
    <h2>Delete Book</h2>
    <form action="/delete_book" method="post">
        <label for="book_title">Book Title:</label>
        <input type="text" id="book_title" name="title" required><br><br>
        <input type="submit" value="Delete Book">
    </form>
    <h2>Update Customer ID</h2>
    <form action="/update_customer_id" method="post">
        <label for="old_customer_id">Old Customer ID:</label>
        <input type="text" id="old_customer_id" name="old_customer_id" required><br><br>
        <label for="new_customer_id">New Customer ID:</label>
        <input type="text" id="new_customer_id" name="new_customer_id" required><br><br>
        <input type="submit" value="Update Customer ID">
    </form>
    <h2>Update Staff ID</h2>
    <form action="/update_staff_id" method="post">
        <label for="old_staff_id">Old Staff ID:</label>
        <input type="text" id="old_staff_id" name="old_staff_id" required><br><br>
        <label for="new_staff_id">New Staff ID:</label>
        <input type="text" id="new_staff_id" name="new_staff_id" required><br><br>
        <input type="submit" value="Update Staff ID">
    </form>
    <h2>Update Book Price</h2>
    <form action="/update_book_price" method="post">
        <label for="book_id">Book ID:</label>
        <input type="text" id="book_id" name="book_id" required><br><br>
        <label for="new_price">New Price:</label>
        <input type="text" id="new_price" name="new_price" required><br><br>
        <input type="submit" value="Update Book Price">
    </form>
    <h2>Update Order Price</h2>
    <form action="/update_order_price" method="post">
        <label for="order_id">Order ID:</label>
        <input type="text" id="order_id" name="order_id" required><br><br>
        <label for="new_price">New Price:</label>
        <input type="text" id="new_price" name="new_price" required><br><br>
        <input type="submit" value="Update Order Price">
    </form>
    <h2>Update Order Date</h2>

    <form action="/update_order_date" method="post">
        <label for="order_id">Order ID:</label>
        <input type="text" id="order_id" name="order_id" required><br><br>
        
        <label for="new_date">New Date:</label>
        <input type="date" id="new_date" name="new_date" required><br><br>
        
        <input type="submit" value="Update Order Date">
    </form>
    <h2>Update Order Staff ID</h2>
    <form action="update_order_staff_id" method="post">
        <label for="order_id">Order ID:</label>
        <input type="text" id="order_id" name="order_id" required><br><br>
        <label for="new_staff_id">New Staff ID:</label>
        <input type="text" id="new_staff_id" name="new_staff_id" required><br><br>
        <input type="submit" value="Update Order Staff ID">
    </form>
    <h2>Update Order Customer ID</h2>
    <form action="update_order_customer_id" method="post">
        <label for="order_id">Order ID:</label>
        <input type="text" id="order_id" name="order_id" required><br><br>
        <label for="new_customer_id">New Customer ID:</label>
        <input type="text" id="new_customer_id" name="new_customer_id" required><br><br>
        <input type="submit" value="Update Order Customer ID">
    </form>
</body>
</html>
